<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name='robots' content='noindex,nofollow' />
    <link href="css/icon-all.min.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet"><link href="css/main.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Szkolenia Edukatora - Premium Distribution - Education</title>
</head>
<body class="edu-szkolenia-page">

<!-- LOADER -->
<div id="loader-wrapper"></div>

<div id="content-block">

    <!-- HEADER -->
    <header class="header">
        <div class="header__main">
            <div class="menu-wrapper">
                <div class="hamburger-menu"></div>
            </div>
            <a href="" class="header-notification">
                <svg viewBox="0 0 24 24">
                    <path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z" />
                </svg>
                <span>2</span>
            </a>
            <div class="header__nav open-header-nav">
                <img alt="" src="img/gu.jpg">
                <span>John Doe</span>
                <i class="fas fa-chevron-up"></i>
            </div>
            <ul class="header-menu">
                <li>
                    <a href="">
                        <i class="far fa-user"></i>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"
                             class="icon">
                            <path d="M12.67 7.33H3.33C2.6 7.33 2 7.93 2 8.67v4.66c0 .74.6 1.34 1.33 1.34h9.34c.73 0 1.33-.6 1.33-1.34V8.67c0-.74-.6-1.34-1.33-1.34zM4.67 7.33V4.67a3.33 3.33 0 016.66 0v2.66"
                                  stroke="#273844" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"
                             class="icon">
                            <path d="M6 14H3.33A1.33 1.33 0 012 12.67V3.33A1.33 1.33 0 013.33 2H6M10.67 11.33L14 8l-3.33-3.33M14 8H6"
                                  stroke="#273844" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="tools-bar">
        <div class="tools-bar__header">
            <div class="tools-bar__logo">
                <img src="img/white-logo.png" alt="">
            </div>
        </div>
        <div class="tools-bar__main">
            <ul class="tools-bar__list">
                <li class="tools-bar__item active">
                    <div class="tools-bar__link active">
                        <span>Szkolenia</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content">
                        <div class="tools-bar__content__group">
                            <a href="edu-szkolenia.php" class="active"> Moje szkolenia</a>
                        </div>

                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Dostępność</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="dostepnosc-edukatora.php">Moja dostępność</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Kuferek</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Mój kuferek</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Materiały</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Moje materiały</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Sprzęt</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Mój sprzęt</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Rozliczenie</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Rozliczenie</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Testy</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Testy</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="section-content">
        <div class="simple-content">
            <div class="simple-content__top">
                <div class="simple-content__decor-line">
                    <a href="">Przypisane szkolenia</a>
                </div>
            </div>
            <div class="simple-content__main">
                <div class="text">
                    <h5 class="h5"><span>Przypisane szkolenia</span></h5>
                    <p>
                        Tutaj znajdziesz szkolenia, które są przypisane do ciebie. Pamiętaj żeby za każdym
                        razem
                        przed szkoleniem zadzwonić do klienta i potwierdzić szkolenie, jak również
                        poinformować
                        go o przygotowaniu modelek.
                    </p>
                </div>
                <div class="table">
                    <table>
                        <thead>
                        <tr>
                            <td>DATA</td>
                            <td>GODZINY</td>
                            <td>NUMER KLIENTA</td>
                            <td>ADRES</td>
                            <td>RODZAJ SZKOLENIA</td>
                            <td>KONTAKT</td>
                            <td>SZKOLENIE / MODELKI POTWIERDZONE</td>
                        </tr>
                        </thead>
                        <tbody>

                        <form action="/educator" class="form" method="POST">

                            <p>Hear: {{date}}</p>

                            {{#each array Education}}
                                {{this.date}}
                            {{/each}}



                        <tr>
                            <td>
                                <a class="btn-tooltip" href="#" data-toggle="tooltip" data-placement="top"
                                   data-original-title="*Ważne jeżeli na 7 dni przed szkoleniem edukator nie odznaczy że dzwonił do klienta pojawia się pushup od razu po zalogowaniu do platformy z informacją że edukator ma szkolenie które musi potwierdzić telefonie"
                                   title="">
                                    22.03.2021</a>
                            </td>
                            <td style="font-weight: 400;">10-15</td>
                            <td><span style="font-weight: 400;">0181</span></td>
                            <td>Jasna 19,<br>
                                Warszawa 00-058
                            </td>
                            <td>LEARN.ME PRODUCT</td>
                            <td>+48 735 610 289</td>
                            <td align="center">
                                <input name="checkbox2" type="checkbox" value="checked">
                            </td>
                        </tr>

                        <tr style="background-color: #c8b9a7;">
                            <td colspan="7" align="center">
                                <a class="btn-tooltip"
                                   href="#" data-toggle="tooltip"
                                   data-placement="top"
                                   data-original-title="Ten guzik pojawia się tylko wtedy gdy szkolenie się odbyło a kalendarz wskazuje dzień po szkoleniu klikając na ten guzik pojawia się nowe okno (nie koniecznie strona) w której edukator wypełnia krótki test żeby nie robić go teraz zróbmy coś takiego jak 5 pytan Ipsom lorum możliwość zaznaczania od 1 do 5. I na dole notatka a pod nią guzik wyślij. Po tym guzik zmienia się na dziękuje za wysłanie raportu."
                                   title=""><strong>WYPEŁNIJ RAPORT</strong>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>03.05.2021</td>
                            <td style="font-weight: 400;">10-15</td>
                            <td><span style="font-weight: 400;">0181</span></td>
                            <td>Jasna 19,<br>
                                Warszawa 00-058
                            </td>
                            <td>LEARN.ME ONLINE</td>
                            <td>+48 735 610 289</td>
                            <td align="center"><a href="#"><strong>ROZPOCZNIJ SZKOLENIE ONLINE</strong></a>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="btn-tooltip" href="#" data-toggle="tooltip" data-placement="top"
                                   data-original-title="*Wyszarzałe szkolenie to szkolenie wpisane przez klienta nie zaakceptowane przez dział edukacji."
                                   title="">17.07.2021</a></td>
                            <td class="color2" style="font-weight: 400;">10-15</td>
                            <td class="color2"><span style="font-weight: 400;">0181</span></td>
                            <td class="color2">Jasna 19,<br>
                                Warszawa 00-058
                            </td>
                            <td class="color2">LEARN.ME ONLINE</td>
                            <td class="color2">+48 735 610 289</td>
                            <td class="color2" align="center"></td>
                        </tr>
                        <tr style="background-color: #f4f2ef; color: #ff0000;">
                            <td><a class="btn-tooltip" href="#" data-toggle="tooltip" data-placement="top"
                                   data-original-title="*Szkolenie odwołane pokazane na czerwono " title="">11.08.2021</a>
                            </td>
                            <td class="color3" style="font-weight: 400;">10-15</td>
                            <td class="color3"><span style="font-weight: 400;">0181</span></td>
                            <td class="color3">Jasna 19,<br>
                                Warszawa 00-058
                            </td>
                            <td class="color3">SHOWPONY 1</td>
                            <td class="color3">+48 735 610 289</td>
                            <td class="color3" align="center">
                                <strong>ODWOŁANE<br>
                                    23.04.2021</strong>
                            </td>
                        </tr>
                        </form>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!-- FOOTER -->
        <div class="footer">


            <div class="scroll-top">
                <i class="fas fa-angle-up"></i>
            </div>

            <!-- POPUP -->
            <div class="popup-wrapper">
                <div class="bg-layer"></div>
                <div class="popup-content" data-rel="thank-popup">
                    <div class="layer-close"></div>
                    <div class="popup-container">
                        <div class="popup-align">
                            <div class="popup-info">
                                <div class="text text-center">
                                    <div class="h5">
                                        thank you we will contact you soon
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-close"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<link href="css/bootstrap.bottom.css" rel="stylesheet" type="text/css">
<link href="css/swiper.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href="css/style.css" rel="stylesheet" type="text/css" />

<script src="js/jquery-3.5.1.min.js"></script>
<script defer src="js/swiper.min.js"></script>
<script defer src="js/SmoothScroll.js"></script>
<script defer src="js/rellax.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>


<script src="js/global.js"></script>
</body>
</html>