<!DOCTYPE html>
<html lang="en">
<head>
 {{>top}}
    <title>Szkolenia Edukatora - Premium Distribution - Education</title>
</head>
<body class="edu-handlowcy-page">

<!-- LOADER -->
<div id="loader-wrapper"></div>

<div id="content-block">

    <!-- HEADER -->
  {{>header}}
    <div class="tools-bar">
        <div class="tools-bar__header">
            <div class="tools-bar__logo">
                <img src="img/white-logo.png" alt="">
            </div>
        </div>
        <div class="tools-bar__main">
            <ul class="tools-bar__list">
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Kokpit</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="/salesperson">Handlowcy</a>
                        </div>
                        <div class="tools-bar__content__group">
                            <a href="/salon_brands">Marki</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item active">
                    <div class="tools-bar__link active">
                        <span>Informacje</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content">
                        <div class="tools-bar__content__group">
                            <a href="/invoce">Konto Klienta</a>
                        </div>
                        <div class="tools-bar__content__group">
                            <a href="/salon_address">Adresy</a>
                        </div>
                        <div class="tools-bar__content__group">
                            <a href="" class="active">Zamówienia</a>
                        </div>
                        <div class="tools-bar__content__group">
                            <a href="/brand_promotions">Promocje</a>
                        </div>
                    </div>
                </li>

                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Edukacja</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Kevin Murphy</a>
                        </div>
                        <div class="tools-bar__content__group">
                            <a href="">Olaplex</a>
                        </div>
                        <div class="tools-bar__content__group">
                            <a href="">Alterna</a>
                        </div>
                        <div class="tools-bar__content__group">
                            <a href="">Showpony</a>
                        </div>
                        <div class="tools-bar__content__group">
                            <a href="">Eleven Australia</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Materiały</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Materiały Edukacyjne</a>
                        </div>
                        <div class="tools-bar__content__group">
                            <a href="">Materiały na Social Media</a>
                        </div>
                        <div class="tools-bar__content__group">
                            <a href="">Cenniki, Oferty produktowe</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Wizualizacje</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Materiały marketingowe i branding dla twojego salonu</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="section-content">
        <div class="simple-content">
            <div class="simple-content__top">
            </div>
            <div class="simple-content__main">
                <div class="text">
                    <h5 class="h5"><span>Promocje</span></h5>
                    <p>
                        Tutaj znajdziesz informacje o aktualnych promocjach. Wybierz markę aby zobaczyć
                        promocje, po czym kliknij na interesująca Cię promocję aby pobrać prezentację. </p>
                </div>
                <div class="simple-content__promocje">
                    <ul class="simple-content__acordeon">
                        <li class="tools-bar__item simple-content__acordeon__item">
                            <div class="tools-bar__link simple-content__acordeon__link">
                                <span>KEVIN.MURPHY</span>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="tools-bar__content simple-content__acordeon__content"
                                 style="display: none">
                                <div class="swiper-entry">
                                    <div class="swiper-button-prev">
                                        <i class="fas fa-chevron-left"></i>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                    <div class="swiper-container"
                                         data-options='{"slidesPerView":1, "spaceBetween":20, "loop": false, "breakpoints": {"992": {"slidesPerView": 1},"576": {"slidesPerView": 1, "spaceBetween":20 }}}'>
                                        <div class="swiper-wrapper">
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider1.jpg" alt="">
                                                </div>
                                            </a>
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider2.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tools-bar__item simple-content__acordeon__item">
                            <div class="tools-bar__link simple-content__acordeon__link">
                                <span>OLAPLEX</span>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="tools-bar__content simple-content__acordeon__content"
                                 style="display: none">
                                <div class="swiper-entry">
                                    <div class="swiper-button-prev">
                                        <i class="fas fa-chevron-left"></i>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                    <div class="swiper-container"
                                         data-options='{"slidesPerView":1, "spaceBetween":20, "loop": false, "breakpoints": {"992": {"slidesPerView": 1},"576": {"slidesPerView": 1, "spaceBetween":20 }}}'>
                                        <div class="swiper-wrapper">
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider1.jpg" alt="">
                                                </div>
                                            </a>
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider2.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tools-bar__item simple-content__acordeon__item">
                            <div class="tools-bar__link simple-content__acordeon__link">
                                <span>Eleven Australia</span>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="tools-bar__content simple-content__acordeon__content"
                                 style="display: none">
                                <div class="swiper-entry">
                                    <div class="swiper-button-prev">
                                        <i class="fas fa-chevron-left"></i>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                    <div class="swiper-container"
                                         data-options='{"slidesPerView":1, "spaceBetween":20, "loop": false, "breakpoints": {"992": {"slidesPerView": 1},"576": {"slidesPerView": 1, "spaceBetween":20 }}}'>
                                        <div class="swiper-wrapper">
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider1.jpg" alt="">
                                                </div>
                                            </a>
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider2.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tools-bar__item simple-content__acordeon__item">
                            <div class="tools-bar__link simple-content__acordeon__link">
                                <span>Showpony</span>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="tools-bar__content simple-content__acordeon__content"
                                 style="display: none">
                                <div class="swiper-entry">
                                    <div class="swiper-button-prev">
                                        <i class="fas fa-chevron-left"></i>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                    <div class="swiper-container"
                                         data-options='{"slidesPerView":1, "spaceBetween":20, "loop": false, "breakpoints": {"992": {"slidesPerView": 1},"576": {"slidesPerView": 1, "spaceBetween":20 }}}'>
                                        <div class="swiper-wrapper">
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider1.jpg" alt="">
                                                </div>
                                            </a>
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider2.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tools-bar__item simple-content__acordeon__item">
                            <div class="tools-bar__link simple-content__acordeon__link">
                                <span>Framar</span>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="tools-bar__content simple-content__acordeon__content"
                                 style="display: none">
                                <div class="swiper-entry">
                                    <div class="swiper-button-prev">
                                        <i class="fas fa-chevron-left"></i>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                    <div class="swiper-container"
                                         data-options='{"slidesPerView":1, "spaceBetween":20, "loop": false, "breakpoints": {"992": {"slidesPerView": 1},"576": {"slidesPerView": 1, "spaceBetween":20 }}}'>
                                        <div class="swiper-wrapper">
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider1.jpg" alt="">
                                                </div>
                                            </a>
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider2.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tools-bar__item simple-content__acordeon__item">
                            <div class="tools-bar__link simple-content__acordeon__link">
                                <span>Oribe</span>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="tools-bar__content simple-content__acordeon__content"
                                 style="display: none">
                                <div class="swiper-entry">
                                    <div class="swiper-button-prev">
                                        <i class="fas fa-chevron-left"></i>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                    <div class="swiper-container"
                                         data-options='{"slidesPerView":1, "spaceBetween":20, "loop": false, "breakpoints": {"992": {"slidesPerView": 1},"576": {"slidesPerView": 1, "spaceBetween":20 }}}'>
                                        <div class="swiper-wrapper">
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider1.jpg" alt="">
                                                </div>
                                            </a>
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider2.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tools-bar__item simple-content__acordeon__item">
                            <div class="tools-bar__link simple-content__acordeon__link">
                                <span>Alterna</span>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="tools-bar__content simple-content__acordeon__content"
                                 style="display: none">
                                <div class="swiper-entry">
                                    <div class="swiper-button-prev">
                                        <i class="fas fa-chevron-left"></i>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                    <div class="swiper-container"
                                         data-options='{"slidesPerView":1, "spaceBetween":20, "loop": false, "breakpoints": {"992": {"slidesPerView": 1},"576": {"slidesPerView": 1, "spaceBetween":20 }}}'>
                                        <div class="swiper-wrapper">
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider1.jpg" alt="">
                                                </div>
                                            </a>
                                            <a target="_blank"
                                               href="https://pd-edu.webcraft4u.com/wp-content/uploads/2020/10/AKTUALNE-ZESTAWY-PROMOCYJNE-KM_19.10.2020.pdf"
                                               class="swiper-slide">
                                                <div class="swiper-slide__img">
                                                    <img src="img/slider2.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="spacer spacer-xxl"></div>

        </div>
        <!-- FOOTER -->
        <div class="footer">
         {{>footer}}
        </div>
    </div>



</div>

{{>bottom}}

</body>
</html>