<div class="cart-block">
    <div class="cart-block-entry d-inline-flex align-items-center">
<!--        <p><b>Штанговий кондуктор для завіс</b> успішно додано в кошик</p>-->
        <p><b>{{name}}</b> успішно додано в кошик</p>
        <a href="checkout" class="btn btn-primary btn-invert">Перейти в кошик</a>
    </div>
</div>
