<div class="crm-top crm-entry">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/" class="btn-back d-inline-flex align-items-center"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.06067 8L10.5303 4.53033L9.46968 3.46967L5.46968 7.46967L4.93935 8L5.46968 8.53033L9.46968 12.5303L10.5303 11.4697L7.06067 8Z" />
            </svg>
            Повернутись на сайт Blum</a>
        <span class="crm-top-date d-inline-flex align-items-center"><img src="/img/icons/calendar.svg" alt="" class="img"><span></span></span>
        <div class="crm-user">
            <button class="d-flex align-items-center"><svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.75 5C5.75 3.20507 7.20507 1.75 9 1.75C10.7949 1.75 12.25 3.20507 12.25 5C12.25 6.79493 10.7949 8.25 9 8.25C7.20507 8.25 5.75 6.79493 5.75 5ZM9 0.25C6.37665 0.25 4.25 2.37665 4.25 5C4.25 7.62335 6.37665 9.75 9 9.75C11.6234 9.75 13.75 7.62335 13.75 5C13.75 2.37665 11.6234 0.25 9 0.25ZM5 12.25C3.74022 12.25 2.53204 12.7504 1.64124 13.6412C0.750445 14.532 0.25 15.7402 0.25 17V19V19.75H1H17H17.75V19V17C17.75 15.7402 17.2496 14.532 16.3588 13.6412C15.468 12.7504 14.2598 12.25 13 12.25H5ZM2.7019 14.7019C3.3114 14.0924 4.13805 13.75 5 13.75H13C13.862 13.75 14.6886 14.0924 15.2981 14.7019C15.9076 15.3114 16.25 16.138 16.25 17V18.25H1.75V17C1.75 16.138 2.09241 15.3114 2.7019 14.7019Z" />
                </svg>{{companyName}}<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.46973 10.5303L3.46973 6.53033L4.53039 5.46967L8.00006 8.93934L11.4697 5.46967L12.5304 6.53033L8.53039 10.5303L8.00006 11.0607L7.46973 10.5303Z" />
                </svg></button>
            <ul>
                <li><a href="/blum-manager/blum-manager-personal"><svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.417 2.25c0-.184.149-.333.333-.333h6.5c.184 0 .333.149.333.333v2.166c0 .185-.149.334-.333.334h-6.5a.333.333 0 01-.333-.333V2.25zm-1.5.333V2.25c0-1.013.82-1.833 1.833-1.833h6.5c1.013 0 1.833.82 1.833 1.833v.333H18.5A2.916 2.916 0 0121.417 5.5v15.166a2.917 2.917 0 01-2.917 2.917h-13a2.917 2.917 0 01-2.917-2.916V5.5A2.917 2.917 0 015.5 2.583h1.417zm0 1.5H5.5A1.417 1.417 0 004.083 5.5v15.166A1.416 1.416 0 005.5 22.084h13a1.417 1.417 0 001.417-1.416V5.5A1.417 1.417 0 0018.5 4.083h-1.417v.333c0 1.013-.82 1.834-1.833 1.834h-6.5a1.833 1.833 0 01-1.833-1.833v-.334zm1.139 11.972A2.75 2.75 0 0110 15.25h4A2.75 2.75 0 0116.75 18v1a.75.75 0 11-1.5 0v-1A1.25 1.25 0 0014 16.75h-4A1.25 1.25 0 008.75 18v1a.75.75 0 11-1.5 0v-1c0-.73.29-1.429.806-1.945zM10.75 11.5a1.25 1.25 0 112.5 0 1.25 1.25 0 01-2.5 0zM12 8.75a2.75 2.75 0 100 5.5 2.75 2.75 0 000-5.5z" />
                        </svg>Особисті дані</a></li>
                <li><a href="/blum-manager/blum-manager-password"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.9948 3.9948C9.79183 3.19777 10.8728 2.75 12 2.75C13.1272 2.75 14.2082 3.19777 15.0052 3.9948C15.8022 4.79183 16.25 5.87283 16.25 7V10.25H7.75V7C7.75 5.87283 8.19777 4.79183 8.9948 3.9948ZM6.25 10.25V7C6.25 5.47501 6.8558 4.01247 7.93414 2.93414C9.01247 1.8558 10.475 1.25 12 1.25C13.525 1.25 14.9875 1.8558 16.0659 2.93414C17.1442 4.01247 17.75 5.47501 17.75 7V10.25H19C20.5188 10.25 21.75 11.4812 21.75 13V20C21.75 21.5188 20.5188 22.75 19 22.75H5C3.48122 22.75 2.25 21.5188 2.25 20V13C2.25 11.4812 3.48122 10.25 5 10.25H6.25ZM6.25 11.75H5C4.30964 11.75 3.75 12.3096 3.75 13V20C3.75 20.6904 4.30964 21.25 5 21.25H19C19.6904 21.25 20.25 20.6904 20.25 20V13C20.25 12.3096 19.6904 11.75 19 11.75H17.75H16.25H7.75H6.25Z" />
                        </svg>Зміна паролю</a></li>
                <li><a href="/auth/logout"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 2.25H3H5H9H9.75V3.75H9H5H3.75V5V19V20.25H5H9H9.75V21.75H9H5H3H2.25V21V19V5V3V2.25ZM16 5.93934L16.5303 6.46967L21.5303 11.4697L22.0607 12L21.5303 12.5303L16.5303 17.5303L16 18.0607L14.9393 17L15.4697 16.4697L19.1893 12.75H9H8.25V11.25H9H19.1893L15.4697 7.53033L14.9393 7L16 5.93934Z" />
                        </svg>Вихід</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="crm-top-spacer"></div>
