<button class="crm-sidebar-btn d-xl-none show-sidebar"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 12H21" stroke-width="1.5" />
        <path d="M3 6H21" stroke-width="1.5" />
        <path d="M3 18H21" stroke-width="1.5" />
    </svg>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5304 2.53044L15.0608 2.00011L14.0001 0.939453L13.4698 1.46978L8.00011 6.93945L2.53044 1.46978L2.00011 0.939453L0.939453 2.00011L1.46978 2.53044L6.93945 8.00011L1.46978 13.4698L0.939453 14.0001L2.00011 15.0608L2.53044 14.5304L8.00011 9.06077L13.4698 14.5304L14.0001 15.0608L15.0608 14.0001L14.5304 13.4698L9.06077 8.00011L14.5304 2.53044Z" fill="#fff" />
    </svg></button>


<aside class="crm-sidebar">
    <div class="crm-logo d-flex align-items-center justify-content-center"><img src="/img/logo.svg" alt="" class="img"></div>
    <nav class="crm-nav">
        <ul>
            <li><a href="/sr-manager/sr-manager-orders" class="current"><img src="/img/icons/list.svg" alt="">Список замовлень</a></li>
            <li><a href="/sr-manager/sr-manager-clients"><img src="/img/icons/users.svg" alt="">Перелік клієнтів</a></li>
            <li><a href="/sr-manager/sr-manager-requests"><img src="/img/icons/requests.svg" alt="">Запити на підтвердження реєстрації</a></li>
            <li><a href="/sr-manager/sr-manager-change-dealer-requests"><img src="/img/icons/repeat.svg" alt="">Запити на зміну дилера</a></li>
        </ul>
    </nav>
</aside>

<div class="mobile-overlay d-xl-none"></div>
