<footer>
    <div class="f-top d-flex flex-column flex-xl-row align-items-center justify-content-between">
        <div class="f-logo logo"><a href="/" class="d-flex align-items-center justify-content-center"><img src="img/preloader.jpg" data-i-src="/img/logo.svg" alt="" class="img"></a></div>
        <nav class="nav-secondary">
            <ul class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                <li><a href="/">Головна</a></li>
                <li><a href="/categories">Вироби</a></li>
          
            </ul>
        </nav>
        <div class="f-addr"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 11L22 2L13 21L11 13L3 11Z" stroke="#292929" stroke-width="1.5" />
        </svg>ТОВ «Блюм Україна» вул. Дорожна 50, c. Пасіки-Зубрицькі, Львівська обл.</div>
        <ul class="f-social d-flex flex-wrap justify-content-center justify-content-xl-start">
            <li><a href="https://www.youtube.com/" target="_blank"><img src="img/preloader.jpg" data-i-src="/img/icons/youtube.svg" alt=""></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><img src="img/preloader.jpg" data-i-src="/img/icons/instagram.svg" alt=""></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"><img src="img/preloader.jpg" data-i-src="/img/icons/linkedin.svg" alt=""></a></li>
            <li><a href="https://www.pinterest.com/" target="_blank"><img src="img/preloader.jpg" data-i-src="/img/icons/pinterest.svg" alt=""></a></li>
        </ul>
    </div>
    <div class="f-copy">
        <div class="row align-items-center">
            <div class="col-xl-4 text-center text-xl-left">Всі права захищені &nbsp;|&nbsp; &copy; <?php echo date('Y'); ?> blum</div>
            <div class="col-xl-4 text-center"><a href="/privacy">Політика конфіденційності</a><span class="f-divider">&nbsp;</span><a href="/cookies">Політика Cookies</a></div>
            <div class="col-xl-4 text-center text-xl-right"><a href="https://redstone.media/" class="d-inline-flex align-items-center f-develope">
                Створення сайтів
                <img src="img/preloader.jpg" data-i-src="/img/redstone.svg" alt="">
            </a></div>
        </div>
    </div>
</footer>
