<footer class="type-2">
    <div class="f-top d-flex flex-column flex-xl-row justify-content-between align-items-center">
        <div class="f-col-left">
            <div class="d-flex flex-column flex-xl-row align-items-center align-items-xl-start">
                <div class="f-logo logo"><a href="/" class="d-flex align-items-center justify-content-center"><img src="img/preloader.jpg" data-i-src="/img/logo.svg" alt="" class="img"></a></div>
                <nav class="nav-secondary">
                    <ul class="d-flex flex-wrap justify-content-center d-xl-block">
                        <li><a href="/">Головна</a></li>
                        <li><a href="/categories">Вироби</a></li>
                        <li><a href="/about">Про Blum</a></li>
                        <li><a href="/orders">Замовлення</a></li>
                        <li><a href="/blog">Блог</a></li>
                        <li><a href="/categories">Комплекти</a></li>
                        <li><a href="/dealers">Дилери</a></li>
                        <li><a href="/contacts">Контакти</a></li>
                        <li><a href="/payment">Оплата</a></li>
                        <li><a href="/faq">Питання та відповіді</a></li>
                    </ul>
                </nav>
                <div class="f-addr d-xl-none"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 11L22 2L13 21L11 13L3 11Z" stroke="#292929" stroke-width="1.5" />
                </svg>ТОВ «Блюм Україна» вул. Дорожна 50, c. Пасіки-Зубрицькі, Львівська обл.</div>
                <ul class="f-social d-flex flex-wrap justify-content-center justify-content-xl-start">
                    <li><a href="https://www.youtube.com/" target="_blank"><img src="img/preloader.jpg" data-i-src="/img/icons/youtube.svg" alt=""></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><img src="img/preloader.jpg" data-i-src="/img/icons/instagram.svg" alt=""></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><img src="img/preloader.jpg" data-i-src="/img/icons/linkedin.svg" alt=""></a></li>
                    <li><a href="https://www.pinterest.com/" target="_blank"><img src="img/preloader.jpg" data-i-src="/img/icons/pinterest.svg" alt=""></a></li>
                </ul>
            </div>
            <div class="f-addr-wrapp d-none d-xl-block">
                <div class="f-addr"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 11L22 2L13 21L11 13L3 11Z" stroke="#292929" stroke-width="1.5" />
                </svg>ТОВ «Блюм Україна» вул. Дорожна 50, c. Пасіки-Зубрицькі, Львівська обл.</div>
            </div>
        </div>
        <div class="f-col-right">
            <ul class="f-addr-list">
                <li><svg width="22" height="19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.25.309h9.5v3h6v15.5H.25v-15.5h6v-3zm8 1.5v1.5h-6.5v-1.5h6.5zm-12.5 3v12.5h18.5v-12.5H1.75zM11 7.059a1 1 0 100 2h.01a1 1 0 100-2H11z" fill="#292929" /></svg>ТзОВ «Неском»</li>
                <li><img src="/img/icons/viber.svg" alt=""><img src="/img/icons/telegram.svg" alt=""><a href="tel:0964482212">096 448 22 12</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="tel:0974482212">097 448 22 12</a></li>
                <li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 11L22 2L13 21L11 13L3 11Z" stroke="#292929" stroke-width="1.5" />
                </svg>вул. Б. Хмельницького 96, м. Івано-Франківськ </li>
                <li><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4.0586H20C21.1 4.0586 21.5 4.05859 22 4.05859V20.0586C22 20.0586 21.1 20.0586 20 20.0586H4C2.9 20.0586 2 20.0586 2 20.0586V4.0586C2 4.0586 2.9 4.0586 4 4.0586Z" stroke="#292929" stroke-width="1.5" />
                    <path d="M22 4.05859L12 12.0586L2 4.05859" stroke="#292929" stroke-width="1.5" />
                </svg><a href="mailto:info.ua@neskom.com">info.ua@neskom.com</a></li>
            </ul>
        </div>
    </div>
    <div class="f-copy">
        <div class="row align-items-center">
            <div class="col-xl-4 text-center text-xl-left">Всі права захищені &nbsp;|&nbsp; &copy; <?php echo date('Y'); ?> blum</div>
            <div class="col-xl-4 text-center"><a href="/privacy">Політика конфіденційності</a><span class="f-divider">&nbsp;</span><a href="/cookies">Політика Cookies</a></div>
            <div class="col-xl-4 text-center text-xl-right"><a href="https://redstone.media/" class="d-inline-flex align-items-center f-develope">
                Створення сайтів
                <img src="img/preloader.jpg" data-i-src="/img/redstone.svg" alt="">
            </a></div>
        </div>
    </div>
</footer>
