

<div class="scroll-top">
    <i class="fas fa-angle-up"></i>
</div>

<!-- POPUP -->
<div class="popup-wrapper">
    <div class="bg-layer"></div>
    <div class="popup-content" data-rel="thank-popup">
        <div class="layer-close"></div>
        <div class="popup-container">
            <div class="popup-align">
                <div class="popup-info">
                    <div class="text text-center">
                        <div class="h5">
                            thank you we will contact you soon
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-close"><span></span></div>
        </div>
    </div>
</div>
