<header class="header-bott">

    <!-- logo -->
    <div class="logo"><a href="/" class="d-flex align-items-center justify-content-center"><img src="/img/preloader.jpg" data-i-src="https://e7.pngegg.com/pngimages/211/578/png-clipart-red-fire-illustration-flame-fire-flame-orange-desktop-wallpaper.png" alt="" class="img"></a></div>
    <!-- end logo -->

    <div class="d-flex align-items-center justify-content-around flex-fill">
        <!-- /shop/catalog -->
        <div class="h-btn-wrapp">
            <button type="button" class="h-btn"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-btn-icon">
                <rect x="0.75" y="0.75" width="7.5" height="7.5" stroke-width="1.5" />
                <rect x="11.75" y="0.75" width="7.5" height="7.5" stroke-width="1.5" />
                <rect x="0.75" y="11.75" width="7.5" height="7.5" stroke-width="1.5" />
                <rect x="11.75" y="11.75" width="7.5" height="7.5" stroke-width="1.5" />
            </svg>Комплекти<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-btn-icon">
                <path d="M1 1L5 5L9 1" stroke-width="1.5" />
            </svg><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-btn-close d-md-none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5304 2.53044L15.0608 2.00011L14.0001 0.939453L13.4698 1.46978L8.00011 6.93945L2.53044 1.46978L2.00011 0.939453L0.939453 2.00011L1.46978 2.53044L6.93945 8.00011L1.46978 13.4698L0.939453 14.0001L2.00011 15.0608L2.53044 14.5304L8.00011 9.06077L13.4698 14.5304L14.0001 15.0608L15.0608 14.0001L14.5304 13.4698L9.06077 8.00011L14.5304 2.53044Z" fill="#292929" />
            </svg></button>
            <nav class="h-drop">
                <ul class="d-flex flex-wrap">

                    <li class="h-drop-item"><a href="/catalog-kit" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-2.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Висувні системи</span></span></a></li>

                </ul>
            </nav>
        </div>
        <div class="h-btn-wrapp">
            <button type="button" class="h-btn"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-btn-icon">
                <rect x="3.75" y="3.75" width="16.5" height="16.5" stroke-width="1.5" />
                <path d="M9.5 9L9.5 15H8L8 9L9.5 9Z" />
            </svg>Вироби<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-btn-icon">
                <path d="M1 1L5 5L9 1" stroke-width="1.5" />
            </svg><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-btn-close d-md-none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5304 2.53044L15.0608 2.00011L14.0001 0.939453L13.4698 1.46978L8.00011 6.93945L2.53044 1.46978L2.00011 0.939453L0.939453 2.00011L1.46978 2.53044L6.93945 8.00011L1.46978 13.4698L0.939453 14.0001L2.00011 15.0608L2.53044 14.5304L8.00011 9.06077L13.4698 14.5304L14.0001 15.0608L15.0608 14.0001L14.5304 13.4698L9.06077 8.00011L14.5304 2.53044Z" fill="#292929" />
            </svg></button>
            <nav class="h-drop">
                <ul class="d-flex flex-wrap">

                    <li class="h-drop-item"><a href="/catalog" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-7.jpg" alt="" class="h-drop-img"><span class="img-box-info"><span class="img-box-title">Технології руху</span></span></a></li>
                    <li class="h-drop-item"><a href="/catalog" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-8.jpg" alt="" class="h-drop-img"><span class="img-box-info"><span class="img-box-title">Інші вироби</span></span></a></li>
                    <li class="h-drop-item"><a href="/catalog" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-9.jpg" alt="" class="h-drop-img"><span class="img-box-info"><span class="img-box-title">Допоміжні пристрої для монтажу</span></span></a></li>
                    <li class="h-drop-item"><a href="/catalog" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-2.jpg" alt="" class="h-drop-img"><span class="img-box-info"><span class="img-box-title">Системи напрямних</span></span></a></li>
                    <li class="h-drop-item"><a href="/catalog" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-10.jpg" alt="" class="h-drop-img"><span class="img-box-info"><span class="img-box-title">Системи завіс</span></span></a></li>
                    <li class="h-drop-item"><a href="/catalog" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-1.jpg" alt="" class="h-drop-img"><span class="img-box-info"><span class="img-box-title">Підіймальні механізми</span></span></a></li>
                    <li class="h-drop-item"><a href="/catalog" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-2.jpg" alt="" class="h-drop-img"><span class="img-box-info"><span class="img-box-title">Висувні системи</span></span></a></li>
                    <li class="h-drop-item"><a href="/catalog" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-3.jpg" alt="" class="h-drop-img"><span class="img-box-info"><span class="img-box-title">Конструкції шафок</span></span></a></li>
                    <li class="h-drop-item"><a href="/catalog" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-4.jpg" alt="" class="h-drop-img"><span class="img-box-info"><span class="img-box-title">Системи напрямних</span></span></a></li>
                    <li class="h-drop-item"><a href="/catalog" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-5.jpg" alt="" class="h-drop-img"><span class="img-box-info"><span class="img-box-title">Системи завіс</span></span></a></li>
                    <li class="h-drop-item"><a href="/catalog" class="img-box"><img src="/img/preloader.jpg" data-i-src="/img/cat-6.jpg" alt="" class="h-drop-img"><span class="img-box-info"><span class="img-box-title">Системи внутрішніх розділювачів</span></span></a></li>
                </ul>
            </nav>
        </div>
        <!-- end /shop/catalog -->

        <!-- navigation -->
        {{!-- <nav class="nav-primary d-none d-xl-block">
            <ul> --}}
                {{!-- <li><a href="/about">Про Blum</a></li> --}}
                {{!-- <li><a href="/dealers">Дилери</a></li> --}}
           
                {{!-- <li><a href="/delivery">Оплата</a></li>
            </ul>
        </nav> --}}
        {{!-- <div class="h-menu-wrapp d-none d-xl-flex">
            <button class="h-menu"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-menu-icon">
                <path d="M3 12H21" stroke-width="1.5" />
                <path d="M3 6H21" stroke-width="1.5" />
                <path d="M3 18H21" stroke-width="1.5" />
            </svg></button>
            <ul class="h-menu-drop">
                <li><a href="/contacts">Контакти Blum</a></li>
                <li><a href="/blog">Блог</a></li>
                <li><a href="/faq">Питання та відповіді</a></li>
            </ul>
        </div> --}}
        <!-- end navigation -->

        <!-- search -->
        <button class="h-search d-none d-xl-block"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-search-icon">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.75 8.5C1.75 4.77208 4.77208 1.75 8.5 1.75C12.2279 1.75 15.25 4.77208 15.25 8.5C15.25 12.2279 12.2279 15.25 8.5 15.25C4.77208 15.25 1.75 12.2279 1.75 8.5ZM8.5 0.25C3.94365 0.25 0.25 3.94365 0.25 8.5C0.25 13.0563 3.94365 16.75 8.5 16.75C10.5081 16.75 12.3487 16.0325 13.7793 14.84L18.4697 19.5303L19.5303 18.4697L14.84 13.7793C16.0325 12.3487 16.75 10.5081 16.75 8.5C16.75 3.94365 13.0563 0.25 8.5 0.25Z" />
        </svg></button>
        <!-- end search -->

        <!-- user -->
        <button class="h-user open-popup" data-rel="1"><svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.75 5C5.75 3.20507 7.20507 1.75 9 1.75C10.7949 1.75 12.25 3.20507 12.25 5C12.25 6.79493 10.7949 8.25 9 8.25C7.20507 8.25 5.75 6.79493 5.75 5ZM9 0.25C6.37665 0.25 4.25 2.37665 4.25 5C4.25 7.62335 6.37665 9.75 9 9.75C11.6234 9.75 13.75 7.62335 13.75 5C13.75 2.37665 11.6234 0.25 9 0.25ZM5 12.25C3.74022 12.25 2.53204 12.7504 1.64124 13.6412C0.750445 14.532 0.25 15.7402 0.25 17V19V19.75H1H17H17.75V19V17C17.75 15.7402 17.2496 14.532 16.3588 13.6412C15.468 12.7504 14.2598 12.25 13 12.25H5ZM2.7019 14.7019C3.3114 14.0924 4.13805 13.75 5 13.75H13C13.862 13.75 14.6886 14.0924 15.2981 14.7019C15.9076 15.3114 16.25 16.138 16.25 17V18.25H1.75V17C1.75 16.138 2.09241 15.3114 2.7019 14.7019Z" />
        </svg></button>
        <!-- end user -->

        <!-- menu toggle -->
        <button class="h-menu d-xl-none show-menu"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-menu-icon">
            <path d="M3 12H21" stroke-width="1.5" />
            <path d="M3 6H21" stroke-width="1.5" />
            <path d="M3 18H21" stroke-width="1.5" />
        </svg></button>
        <!-- end menu toggle -->
    </div>

    <!-- search form -->
    <form action="/search" method="post" class="h-sform">
        <input  minlength="1" type="text" placeholder="Введіть запит для пошуку" name="search" autocomplete="off" class="input h-sform-input">
        <button type="button" class="h-sform-close btn-close"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5304 2.53044L15.0608 2.00011L14.0001 0.939453L13.4698 1.46978L8.00011 6.93945L2.53044 1.46978L2.00011 0.939453L0.939453 2.00011L1.46978 2.53044L6.93945 8.00011L1.46978 13.4698L0.939453 14.0001L2.00011 15.0608L2.53044 14.5304L8.00011 9.06077L13.4698 14.5304L14.0001 15.0608L15.0608 14.0001L14.5304 13.4698L9.06077 8.00011L14.5304 2.53044Z" />
        </svg></button>
        <div class="h-sform-overlay"></div>
    </form>
    <!-- end search form -->

    <!-- mobile menu -->
    <div class="mobile-menu d-xl-none">
        <form action="/search" method="post" class="h-sform">
            <input type="search" placeholder="Введіть запит для пошуку" name="search" autocomplete="off" class="input h-sform-input">
            <button type="submit"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-search-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.75 8.5C1.75 4.77208 4.77208 1.75 8.5 1.75C12.2279 1.75 15.25 4.77208 15.25 8.5C15.25 12.2279 12.2279 15.25 8.5 15.25C4.77208 15.25 1.75 12.2279 1.75 8.5ZM8.5 0.25C3.94365 0.25 0.25 3.94365 0.25 8.5C0.25 13.0563 3.94365 16.75 8.5 16.75C10.5081 16.75 12.3487 16.0325 13.7793 14.84L18.4697 19.5303L19.5303 18.4697L14.84 13.7793C16.0325 12.3487 16.75 10.5081 16.75 8.5C16.75 3.94365 13.0563 0.25 8.5 0.25Z" />
            </svg></button>
        </form>
        <nav class="nav-primary">
            <ul>
                {{!-- <li><a href="/about">Про Blum</a></li> --}}
                {{!-- <li><a href="/dealers">Дилери</a></li>
                <li><a href="/orders">Замовлення</a></li>
                <li><a href="/payment">Оплата</a></li>
                <li><a href="/contacts">Контакти Blum</a></li>
                <li><a href="/blog">Блог</a></li>
                <li><a href="/faq">Питання та відповіді</a></li> --}}
            </ul>
        </nav>
        <button class="btn-close menu-close"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5304 2.53044L15.0608 2.00011L14.0001 0.939453L13.4698 1.46978L8.00011 6.93945L2.53044 1.46978L2.00011 0.939453L0.939453 2.00011L1.46978 2.53044L6.93945 8.00011L1.46978 13.4698L0.939453 14.0001L2.00011 15.0608L2.53044 14.5304L8.00011 9.06077L13.4698 14.5304L14.0001 15.0608L15.0608 14.0001L14.5304 13.4698L9.06077 8.00011L14.5304 2.53044Z" />
        </svg></button>
    </div>
    <div class="mobile-overlay d-xl-none menu-close"></div>
    <!-- end mobile menu -->

</header>
<div class="header-margin"></div>
