

    <main>

        <!-- CATEGORIES -->
        <div class="section">
            <div class="container">
                <div class="h2 section-title">Категорії виробів</div>
                <div class="row cols-4 animate-item">
                    {{#each result}}

                    <div class="col-6 col-lg-3">
                        <a href="{{this.slag}}" class="img-box type-1"><img src="{{this.image}}" alt=""><span class="img-box-info"><span class="img-box-title">{{this.title}}</span></span></a>
                    </div>
                     {{/each}}
<!--                    <div class="col-6 col-lg-3">-->
<!--                        <a href="/shop/catalog/13" class="img-box type-1"><img src="/img/cat-2.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Висувні системи</span></span></a>-->
<!--                    </div>-->
<!--                    <div class="col-6 col-lg-3">-->
<!--                        <a href="/shop/catalog/13" class="img-box type-1"><img src="/img/cat-3.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Конструкції шафок</span></span></a>-->
<!--                    </div>-->
<!--                    <div class="col-6 col-lg-3">-->
<!--                        <a href="/shop/catalog/13" class="img-box type-1"><img src="/img/cat-4.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Системи напрямних</span></span></a>-->
<!--                    </div>-->
<!--                    <div class="col-6 col-lg-3">-->
<!--                        <a href="/shop/catalog/13" class="img-box type-1"><img src="/img/cat-7.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Системи напрямних</span></span></a>-->
<!--                    </div>-->
<!--                    <div class="col-6 col-lg-3">-->
<!--                        <a href="/shop/catalog/13" class="img-box type-1"><img src="/img/cat-5.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Системи завіс</span></span></a>-->
<!--                    </div>-->
<!--                    <div class="col-6 col-lg-3">-->
<!--                        <a href="/shop/catalog/13" class="img-box type-1"><img src="/img/cat-6.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Системи внутрішніх розділювачів</span></span></a>-->
<!--                    </div>-->
<!--                    <div class="col-6 col-lg-3">-->
<!--                        <a href="/shop/catalog/13" class="img-box type-1"><img src="/img/cat-1.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Підіймальні механізми</span></span></a>-->
<!--                    </div>-->
<!--                    <div class="col-6 col-lg-3">-->
<!--                        <a href="/shop/catalog/13" class="img-box type-1"><img src="/img/cat-8.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Висувні системи</span></span></a>-->
<!--                    </div>-->
<!--                    <div class="col-6 col-lg-3">-->
<!--                        <a href="/shop/catalog/13" class="img-box type-1"><img src="/img/cat-10.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Конструкції шафок</span></span></a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <!-- END CATEGORIES -->

        <!-- SEO BLOCK -->
        {{> seo }}
        <!-- END SEO BLOCK -->

    </main>

