/*-----------------------------------------------------------------------------------------------------------------------*/
/* FONTS */
/*-----------------------------------------------------------------------------------------------------------------------*/
:root {
    --brown: #a28869;
    --light-brown: #f4f2ef;
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/* CUSTOM PRELOAD */
/*-----------------------------------------------------------------------------------------------------------------------*/
#loader-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    -webkit-animation: loader 1s linear;
    animation: loader 1s linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes loader {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        display: none;
        visibility: hidden;
        z-index: -10;
        opacity: 0;
    }
}

@keyframes loader {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        display: none;
        visibility: hidden;
        z-index: -10;
        opacity: 0;
    }
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/* BOOTSTRAP GRID */
/*-----------------------------------------------------------------------------------------------------------------------*/
html{box-sizing:border-box;-ms-overflow-style:scrollbar}*,::after,::before{box-sizing:inherit}.container{width:100%;max-width:1170px;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.no-gutters{margin-right:0;margin-left:0}.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding-right:15px;padding-left:15px}.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-first{-ms-flex-order:-1;order:-1}.order-last{-ms-flex-order:13;order:13}.order-0{-ms-flex-order:0;order:0}.order-1{-ms-flex-order:1;order:1}.order-2{-ms-flex-order:2;order:2}.order-3{-ms-flex-order:3;order:3}.order-4{-ms-flex-order:4;order:4}.order-5{-ms-flex-order:5;order:5}.order-6{-ms-flex-order:6;order:6}.order-7{-ms-flex-order:7;order:7}.order-8{-ms-flex-order:8;order:8}.order-9{-ms-flex-order:9;order:9}.order-10{-ms-flex-order:10;order:10}.order-11{-ms-flex-order:11;order:11}.order-12{-ms-flex-order:12;order:12}.offset-1{margin-left:8.333333%}.offset-2{margin-left:16.666667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.333333%}.offset-5{margin-left:41.666667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.333333%}.offset-8{margin-left:66.666667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.333333%}.offset-11{margin-left:91.666667%}@media (min-width:576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-sm-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-sm-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-sm-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-sm-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-sm-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-sm-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-sm-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-sm-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-sm-first{-ms-flex-order:-1;order:-1}.order-sm-last{-ms-flex-order:13;order:13}.order-sm-0{-ms-flex-order:0;order:0}.order-sm-1{-ms-flex-order:1;order:1}.order-sm-2{-ms-flex-order:2;order:2}.order-sm-3{-ms-flex-order:3;order:3}.order-sm-4{-ms-flex-order:4;order:4}.order-sm-5{-ms-flex-order:5;order:5}.order-sm-6{-ms-flex-order:6;order:6}.order-sm-7{-ms-flex-order:7;order:7}.order-sm-8{-ms-flex-order:8;order:8}.order-sm-9{-ms-flex-order:9;order:9}.order-sm-10{-ms-flex-order:10;order:10}.order-sm-11{-ms-flex-order:11;order:11}.order-sm-12{-ms-flex-order:12;order:12}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.333333%}.offset-sm-2{margin-left:16.666667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.333333%}.offset-sm-5{margin-left:41.666667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.333333%}.offset-sm-8{margin-left:66.666667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.333333%}.offset-sm-11{margin-left:91.666667%}}@media (min-width:768px){.col-md{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-md-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-md-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-md-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-md-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-md-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-md-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-md-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-md-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-md-first{-ms-flex-order:-1;order:-1}.order-md-last{-ms-flex-order:13;order:13}.order-md-0{-ms-flex-order:0;order:0}.order-md-1{-ms-flex-order:1;order:1}.order-md-2{-ms-flex-order:2;order:2}.order-md-3{-ms-flex-order:3;order:3}.order-md-4{-ms-flex-order:4;order:4}.order-md-5{-ms-flex-order:5;order:5}.order-md-6{-ms-flex-order:6;order:6}.order-md-7{-ms-flex-order:7;order:7}.order-md-8{-ms-flex-order:8;order:8}.order-md-9{-ms-flex-order:9;order:9}.order-md-10{-ms-flex-order:10;order:10}.order-md-11{-ms-flex-order:11;order:11}.order-md-12{-ms-flex-order:12;order:12}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.333333%}.offset-md-2{margin-left:16.666667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.333333%}.offset-md-5{margin-left:41.666667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.333333%}.offset-md-8{margin-left:66.666667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.333333%}.offset-md-11{margin-left:91.666667%}}@media (min-width:992px){.col-lg{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-lg-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-lg-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-lg-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-lg-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-lg-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-lg-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-lg-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-lg-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-lg-first{-ms-flex-order:-1;order:-1}.order-lg-last{-ms-flex-order:13;order:13}.order-lg-0{-ms-flex-order:0;order:0}.order-lg-1{-ms-flex-order:1;order:1}.order-lg-2{-ms-flex-order:2;order:2}.order-lg-3{-ms-flex-order:3;order:3}.order-lg-4{-ms-flex-order:4;order:4}.order-lg-5{-ms-flex-order:5;order:5}.order-lg-6{-ms-flex-order:6;order:6}.order-lg-7{-ms-flex-order:7;order:7}.order-lg-8{-ms-flex-order:8;order:8}.order-lg-9{-ms-flex-order:9;order:9}.order-lg-10{-ms-flex-order:10;order:10}.order-lg-11{-ms-flex-order:11;order:11}.order-lg-12{-ms-flex-order:12;order:12}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.333333%}.offset-lg-2{margin-left:16.666667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.333333%}.offset-lg-5{margin-left:41.666667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.333333%}.offset-lg-8{margin-left:66.666667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.333333%}.offset-lg-11{margin-left:91.666667%}}@media (min-width:1200px){.col-xl{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-xl-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-xl-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-xl-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-xl-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-xl-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-xl-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-xl-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-xl-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-xl-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-xl-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-xl-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-xl-first{-ms-flex-order:-1;order:-1}.order-xl-last{-ms-flex-order:13;order:13}.order-xl-0{-ms-flex-order:0;order:0}.order-xl-1{-ms-flex-order:1;order:1}.order-xl-2{-ms-flex-order:2;order:2}.order-xl-3{-ms-flex-order:3;order:3}.order-xl-4{-ms-flex-order:4;order:4}.order-xl-5{-ms-flex-order:5;order:5}.order-xl-6{-ms-flex-order:6;order:6}.order-xl-7{-ms-flex-order:7;order:7}.order-xl-8{-ms-flex-order:8;order:8}.order-xl-9{-ms-flex-order:9;order:9}.order-xl-10{-ms-flex-order:10;order:10}.order-xl-11{-ms-flex-order:11;order:11}.order-xl-12{-ms-flex-order:12;order:12}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.333333%}.offset-xl-2{margin-left:16.666667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.333333%}.offset-xl-5{margin-left:41.666667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.333333%}.offset-xl-8{margin-left:66.666667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.333333%}.offset-xl-11{margin-left:91.666667%}}.d-none{display:none!important}.d-inline{display:inline!important}.d-inline-block{display:inline-block!important}.d-block{display:block!important}.d-table{display:table!important}.d-table-row{display:table-row!important}.d-table-cell{display:table-cell!important}.d-flex{display:-ms-flexbox!important;display:flex!important}.d-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}@media (min-width:576px){.d-sm-none{display:none!important}.d-sm-inline{display:inline!important}.d-sm-inline-block{display:inline-block!important}.d-sm-block{display:block!important}.d-sm-table{display:table!important}.d-sm-table-row{display:table-row!important}.d-sm-table-cell{display:table-cell!important}.d-sm-flex{display:-ms-flexbox!important;display:flex!important}.d-sm-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}}@media (min-width:768px){.d-md-none{display:none!important}.d-md-inline{display:inline!important}.d-md-inline-block{display:inline-block!important}.d-md-block{display:block!important}.d-md-table{display:table!important}.d-md-table-row{display:table-row!important}.d-md-table-cell{display:table-cell!important}.d-md-flex{display:-ms-flexbox!important;display:flex!important}.d-md-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}}@media (min-width:992px){.d-lg-none{display:none!important}.d-lg-inline{display:inline!important}.d-lg-inline-block{display:inline-block!important}.d-lg-block{display:block!important}.d-lg-table{display:table!important}.d-lg-table-row{display:table-row!important}.d-lg-table-cell{display:table-cell!important}.d-lg-flex{display:-ms-flexbox!important;display:flex!important}.d-lg-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}}@media (min-width:1200px){.d-xl-none{display:none!important}.d-xl-inline{display:inline!important}.d-xl-inline-block{display:inline-block!important}.d-xl-block{display:block!important}.d-xl-table{display:table!important}.d-xl-table-row{display:table-row!important}.d-xl-table-cell{display:table-cell!important}.d-xl-flex{display:-ms-flexbox!important;display:flex!important}.d-xl-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}}

.w-100 {
    width: 100% !important
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/* RESET STYLES */
/*-----------------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
}

.clear {
    clear: both;
    overflow: hidden;
    height: 0px;
    font-size: 0px;
    display: block;
}

html:not(.touch-screen)::-webkit-scrollbar, html:not(.touch-screen) *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html:not(.touch-screen)::-webkit-scrollbar-track, html:not(.touch-screen) *::-webkit-scrollbar-track {
    background: #a28869;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb, html:not(.touch-screen) *::-webkit-scrollbar-thumb {
    background: #434b61;
}

:focus, :active, :visited {
    outline: none;
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/* GLOBAL SETTINGS */
/*-----------------------------------------------------------------------------------------------------------------------*/
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body.bg-black {
    background: #1B1B1B;
}

.container{
    width: 100%;
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}
.container.xl{
    width: 100%;
    max-width: 1770px;
    padding: 0 15px;
    margin: 0 auto;
}

#content-block {
    overflow: hidden;
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

html.overflow-hidden body {
    overflow: hidden;
}

.swiper-slide:not(:first-child) {
    display: none;
}
.align-center{
    align-items: center;
}
.text-normal{
    text-transform: inherit !important;
}

/*spacers*/
.spacer {
    clear: both;
}

.spacer-xxl {
    height: 160px;
}

.spacer-xl {
    height: 110px;
}

.spacer-lg {
    height: 90px;
}

.spacer-md {
    height: 70px;
}

.spacer-sm {
    height: 50px;
}

.spacer-xs {
    height: 30px;
}

.spacer-ss {
    height: 10px;
}

/*media*/
@media (max-width: 1500px) {
    .spacer-xxl {
        height: 140px;
    }
}

@media (max-width: 1366px) {
    .spacer-xxl, .spacer-xl {
        height: 120px;
    }

    .spacer-lg, .spacer-md {
        height: 50px;
    }

    .sm-40 {
        height: 40px;
    }
}

@media (max-width: 991px) {
    .spacer-xxl, .spacer-xl{height:80px;}
}

@media (max-width: 767px) {
    .spacer-xxl, .spacer-xl, .spacer-lg, .spacer-md, .spacer-sm {
        height: 40px;
    }

    .sm-40 {
        height: 30px;
    }
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/* TYPOGRAPHY */
/*-----------------------------------------------------------------------------------------------------------------------*/
body * {
    font-family: 'Montserrat', sans-serif;
}

b, strong {
    font-weight: 700;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: inherit;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

a:link, a:visited, a:active, a:hover {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

iframe {
    border: none;
    outline: none;
}

ul, ol {
    list-style: none;
}

img {
    /*width: 100%;*/
    /*height: auto;*/
    /*max-width: 100%;*/
}

.simple-item {
    position: relative;
    z-index: 1;
}

.text {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: #2b303d;
}

.text-lg {
    font-size: 20px;
}

.text-sm {
    font-size: 13px;
}

.text.color2 {
    color: #fff;
}

.text.color3 {
    color: #202020;
}

.text * {
    margin-bottom: 15px;
}

.text *:last-child {
    margin-bottom: 0;
}

.text {
    font-size: 15px;
    line-height: 1.7;
}
.text img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text ul li, .text ol li {
    position: relative;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: normal;
    color: #2b303d;
}

.text ul li:before {
    content: "";
    position: absolute;
}

.text ol {
    counter-reset: number;
}

.text ol li {
    padding-left: 10px;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: normal;
    color: #2b303d;
}

.text ol li:before {
    color: #00ABED;
    font-weight: 700;
    counter-increment: number;
    content: "0" counter(number) ".";
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 14px;
}

.text ul li:last-child, .text ol li:last-child {
    margin-bottom: 0;
}

.text ul li span, .text ol li span {
    color: #00ABED;
    font-weight: 700;
}

.text a {
    font-weight: normal;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: normal;
    color: #2b303d;
    text-decoration: underline;
}

.text span {
}

.ul-two-column ul {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    column-gap: 30px;
}

.li-style2 ul li:before {
    background: #054555;
}

.text.color2 ul li {
    color: #fff;
}

blockquote {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    color: #2b303d;
    margin: 50px 0 35px;
}

blockquote p {
    position: relative;
    display: block;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    font-size: 22px;
    color: #2b303d;
    line-height: 1.5;
    font-weight: 700;
}


blockquote span img {
    position: relative;
    display: inline-block;
    width: 16px;
}

h1, .h1 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 600;
    color: #2b303d;
}

h2, .h2 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
    color: #2b303d;
}

h3, .h3 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 600;
    color: #2b303d;
}

h4, .h4 {
    font-size: 25px;
    line-height: 1.1;
    font-weight: 600;
    color: #2b303d;
}

h5, .h5 {
    font-size: 23px;
    line-height: 1.2;
    font-weight: 600;
    color: #2b303d;
}

h6, .h6 {
    font-size: 15px;
    line-height: 1.1;
    font-weight: 600;
    color: #2b303d;

}

.section-title {
    margin-bottom: 30px;
}

.title {
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.title.color2 {
    color: #fff;
}

.w-900 {
    font-weight: 900;
}

.sub-title {
    font-size: 18px;
    line-height: 1.2;
    color: #2b303d;
    font-weight: 600;
}

.sub-title.size2 {
    font-size: 25px;
}

.sub-title.color2 {
    color: #FDA748;
}

.motto-text {
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.1px;
    font-weight: 700;
}

.text-truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.only-mob {
    display: none;
}

.title-shortcode > * {
    margin-bottom: 10px;
}

.title-shortcode > *:last-child {
    margin-bottom: 0;
}

.bg-brown{
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 30px;
    margin-top: 15px;
}
@media (max-width: 1200px) {
    .bg-brown{
        padding: 15px;
    }
}

/*text-line*/
.text-line-1 {
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.text-line-2 {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.text-line-3 {
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.text-line-4 {
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.text-line-5 {
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

@media (min-width: 1200px) {
    .text-xl-left {
        text-align: left;
    }

    .text-xl-center {
        text-align: center;
    }

    .text-xl-right {
        text-align: right;
    }

    .text a:hover {
        color: var(--brown);
    }
}

@media (max-width: 1200px) {
    .text{
    }
    .text ul li, .text ol li {
    }
    h1, .h1, h2, .h2, h3, .h3  {
        /*font-size: 32px;*/
        /*line-height: 40px;*/
        /*letter-spacing: 2px;*/
    }

    h4, .h4, h5, .h5, h6, .h6  {
        /*font-size: 24px;*/
        /*line-height: 32px;*/
        /*letter-spacing: 2px;*/

    }
}

@media (max-width: 991px) {
    .text{
    }
    .text ul li, .text ol li {
    }
    .sub-title {
    }

    h1, .h1, h2, .h2, h3, .h3  {
        /*font-size: 28px;*/
        /*line-height: 32px;*/
    }
    h4, .h4, h5, .h5, h6, .h6  {
        /*font-size: 20px;*/
        /*line-height: 26px;*/
    }
}

@media (max-width: 767px) {
    .text{
        /*font-size: 16px;*/
    }
    .text ul li, .text ol li {
        /*font-size: 16px;*/
    }
    h1, .h1, h2, .h2, h3, .h3  {
        /*font-size: 24px;*/
        /*line-height: 32px;*/
    }
    h4, .h4, h5, .h5, h6, .h6  {
        /*font-size: 18px;*/
        /*line-height: 24px;*/
    }

    blockquote {
        margin: 30px 0 20px;
    }

    blockquote p {
    }

    .xs-hide, .title br {
        display: none;
    }

    .text * {
        margin-bottom: 10px;
    }

    .text, .text-sm {
        font-size: 13px;
    }

    .text ul li:before {
        top: 8px;
    }

    .only-mob {
        display: block;
    }

    .text-center.mob-left {
        text-align: left;
    }

    .sub-title {
        font-size: 16px;
    }

    .ul-two-column ul {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
        column-gap: 15px;
    }

    .title-shortcode, .title-shortcode2 {
        margin-bottom: 20px;
    }

    .text-line-1, .text-line-2, .text-line-3, .text-line-4, .text-line-5 {
        overflow: auto;
        -webkit-line-clamp: inherit;
    }
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/* HEADER */
/*-----------------------------------------------------------------------------------------------------------------------*/
