<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Soft tech</title>
<style>
.body {
    -moz-box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    color: #0a0a0a;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
    min-width: 100%;
    padding: 0;
    text-align: left;
    width: 100% !important;
}

.wrapper {
    background: #0062b0;
}

.spacer-v {
    padding: 50px 0 !important;
}

.spacer-bottom {
    padding: 0 0 50px !important;
}

.box {
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
    max-width: 440px;
    background: white;
    border-radius: 25px;
    padding: 65px 80px;
}

.img {
    margin: auto;
    height: 40px;
    display: block;
}

.title {
    color: #245983 !important;
    font-family: 'Rubik', sans-serif;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 56px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title, .content {
    text-align: left;
}

.content-text {
    color: #295d87;
    font-size: 14px;
}

.button-wrapper {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    background: #fd623f;
    border: 0 solid #fd623f;
    border-collapse: collapse !important;
    border-radius: 30px;
    color: #fefefe;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    hyphens: auto;
    line-height: 1.3;
    margin: 50px 0 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
}

@media (max-width: 392px) {
.title {
        line-height: inherit;
    }

.box {
        padding: 50px 20px;
    }
}
</style>
</head>
<body class="body">
    <div class="wrapper spacer-bottom">
    <div class="box centered">
    <p class="title">
    Ваш акаунт активовано</p>
<div class="content">
    <p class="content-text">
    Привіт {{userName}}, ваш акаунт активовано дилером.
</p>
</div>
</div>
</div>
</body>

</html>
