<main>
    <div class="section type-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xl-3 offset-lt-2 offset-xl-1">
                    <div class="categories-menu">
                        <ul class="links categories-list d-none d-lg-block">
                            <li class="categories-list-item"><a href="/client/cabinet">Особисті дані</a></li>
                            <li class="categories-list-item"><a href="/client/cabinet/history-orders">Історія замовлень</a></li>
                            <li class="categories-list-item"><a href="/client/cabinet/password" class="current active">Зміна паролю</a></li>
                        </ul>
                        <div class="select-box type-1 d-lg-none">
                            <select class="SelectBox default" onchange="location = this.value;">
                                <option value="cabinet">Особисті дані</option>
                                <option value="cabinet-history">Історія замовлень</option>
                                <option value="cabinet-password">Зміна паролю</option>
                            </select>
                        </div>
                    </div>
                    <div class="spacer-xs"></div>
                </div>
                <div class="col-lg-6 col-lt-5 col-xl-4">
                    <div class="h4 title">Зміна паролю</div>
                    <h1 id="messageChangePassword" class="h5 text-center" style="color: tomato;"></h1>
                    <form action="/auth/changePasswordUPDATE" method="POST">
                        <input name="password" type="password" placeholder="*Поточний пароль" class="input">
                        <input name="newPassword" type="password" placeholder="*Новий пароль" class="input mt-15">
                        <input name="confirmNewPassword" type="password" placeholder="*Повторіть новий пароль" class="input mt-15">
                        <button onclick="false" class="changePasswordAjax btn btn-primary btn-invert btn-block mt-15">Зберегти зміни</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

